@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    --primary-text-color: #1f1f1f;
    --secondary-text-color: #fefefe;
    --primary-color: #575a87;
}

nav{
    display: flex;
    width: 90%;
    height: 12vh;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 5vh;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    padding-right: 40px;
}

.menu a{
    text-decoration: none;
    color: var(--primary-text-color);
    padding-bottom: 2px;
}

.menu a:hover{
    border-bottom: #575a87 2px solid;
}

/* Hero Section */

.hero,.hero-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 80px 0;
}

.hero-text{
    padding: 8vh;
}

.hero-text h1{
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.hero-text p{
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding-bottom: 10px;
}

#email{
    width: 280px;
    height: 40px;
    border: #4c4b4b solid 1px;
    border-radius: 3px;
    margin-bottom: 10px;
    outline: none;
    padding: 0 5px;
}

.cta input::placeholder, .cta-2 input::placeholder{
    font-size: 1.1rem;
    opacity: 0.6;
}

.cta-btn{
    height: 40px;
    background: rgb(72, 106, 207);
    border: none;
    color: var(--secondary-text-color);
    border-radius: 3px;
    padding: 0 30px;
    cursor: pointer;
    transition: all ease 300ms;
}

.cta-btn:hover{
    background: var(--secondary-text-color);
    border: #4267B2 1px solid;
    border-radius: 3px;
    color: var(--primary-text-color);
}

.curve{
    height: 10vh;
    background: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
}

.hero-2{
    background: #f9f8fe;
    margin: 0;
    padding-bottom: 40px;
}

.hero-text a{
    text-decoration: none;
    color: rgb(22, 153, 22);
}

.card{
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
    border-radius: 6px;
    width: 70%;
    padding: 30px;
    margin-top: 30px;
    background: #fefefe;
}

.card p{
    font-size: 0.8rem;
}

.profile{
    display: flex;
    align-items: center;
}

.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info p{
    padding: 0;
    font-size: 0.7rem;
    line-height: 1rem;
}

.profile-info p:first-child{
    font-weight: 700;
}

.hero-img{
    height: 60vh;
}

.cta-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #575a87;
    color: var(--secondary-text-color);
    padding: 80px 8vh;
}

.cta-text{
    width: 50%;
}

.cta-text h2{
    font-size: 2.2rem;
    padding-bottom: 20px;
}

.cta-2{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: flex-start;
}

.cta-2 #email{
    width: 80%;
}

footer{
    background: #1e224f;
    color: var(--secondary-text-color);
    padding: 60px 8vh;
}

.footer-links{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contact div{
    padding-bottom: 10px;
}

.contact div i{
    padding-right: 5px;
}

.footer-menu li{
    list-style: none;
    padding-bottom: 10px;
}

.footer-menu a{
    text-decoration: none;
    color: var(--secondary-text-color);
    padding-left: 5px;
}

.footer-menu a:hover{
    border-left: #ffffff 2px solid;
}

.social a{
    color: var(--secondary-text-color);
    padding-right: 10px;
}

#facebook:hover{
    color: #4267B2;
}

#twitter:hover{
    color: #1DA1F2;
}

#instagram:hover{
    color: #E1306C;
}